<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.reUrgency.phonegap.test"
        version   = "1.0.1">

    <name>Hello World</name>

    <description>
        Hello World sample application that responds to the deviceready event.
    </description>

    <author href="http://reUrgency.com" email="rob.passante@reurgency.com">
        PhoneGap Team
    </author>

    <gap:platforms>
		<gap:platform name="android" minVersion="2.1" />
		<gap:platform name="webos" />
		<gap:platform name="symbian.wrt" />
		<gap:platform name="blackberry" project="widgets"/>
	</gap:platforms>

	<icon src="icon.png" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>
	
    <access origin="http://127.0.0.1*"/> <!-- allow local pages -->
    <access origin="*" />

</widget>